<h2> Products in the market </h2>

<table>

	
  		<% @products.each do |product| %>
  		<tr>
		<td><%= product.id %> &nbsp; </td>
       	<td><%= product.name %> </td>
       	<td>$<%= product.price %> &nbsp; </td>
       	<td><%= product.user.name if product.user.present? %> </td>
		</tr>
     	<% end %>
 	
    </table>

   
   
	
 


