<h2> Products in the market </h2>


<ul>
  <% @products.each do |product| %>
    <li>
      Product Name: "<%= product.name %>" costs $<%= product.price %>  |  
	  Sold by <%= product.user.name if product.user.present? %>    
    </li>
  <% end %>
</ul>